[submodule "CUE4Parse-Natives/ACL/external/acl"]
	path = CUE4Parse-Natives/ACL/external/acl
	url = https://github.com/nfrechette/acl.git
[submodule "DragonLib"]
	path = External/DragonLib
	url = https://github.com/yretenai/DragonLib.git
[submodule "Pepper"]
	path = External/Pepper
	url = https://github.com/yretenai/Pepper.git
[submodule "BCDecNet"]
	path = External/BCDecNet
	url = https://github.com/yretenai/BCDecNet.git
